@font-face {
    font-family: 'Freshman';
    src: url('fonts/Freshman.woff2') format('woff2'),
        url('fonts/Freshman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.great-value {
    font-family: sans-serif;
    font-weight: bolder;
    font-style: normal;
}

.carter-one-regular {
    font-family: 'Carter One', system-ui;
    font-weight: 400;
    font-style: normal;
}

.freshman {
    font-family: 'Freshman';
    font-weight: normal;
    font-style: normal;
}

.vt323-regular {
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-style: normal;
}

.body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 72px;
}

footer {
    flex: 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu {
    display: flex;
    flex: 1;
    flex-direction: row !important;
}

.navbar-brand {
    padding-left: 1em;
}

.nav-item {
    padding: 0 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 calc(100vh - 120px);
    justify-content: center;
    align-items: center;
}